﻿
@model List<ProductCategory>

@{
    ViewBag.Title = "Yönetim/Ürün Kategori";
    Layout = "~/Views/Shared/AdminMainLayout.cshtml";
}

@section Style{
    <style>
        a.myTooltip {
            text-decoration: none;
        }

            a.myTooltip:hover {
                position: relative;
            }

            a.myTooltip span {
                color: dimgray;
                display: none;
            }

            a.myTooltip:hover span {
                border: #666 2px solid;
                padding: 5px 20px 5px 5px;
                display: block;
                z-index: 100;
                background-color: lightyellow;
                left: 0px;
                margin: 15px;
                width: 300px;
                position: absolute;
                top: 15px;
                text-decoration: none;
                color: dimgray;
                box-shadow: 2.5px 5px #888888;
            }
    </style>
}

<div class="container" style="font-size:0.9em">
    <div class="row">
        <h5 class="h5 col-12 mt-4 mb-4">Mevcut ürün kategorileri aşağıda sunulmuştur;</h5>
        <div class="col-12">
            <table class="table table-bordered">
                <tr class="bg-dark text-white text-center">
                    <th colspan="3">KİMLİK</th>
                    <th colspan="2">TARİH</th>
                    <th colspan="1">DURUM</th>
                </tr>
                <tr class="bg-secondary text-white text-center">
                    <th>ID</th>
                    <th>İsim (Açıklama)</th>
                    <th>Ekleyen</th>
                    <th>Eklenme</th>
                    <th>Güncellenme</th>
                    <th>Silinme</th>
                </tr>
                @{
                    foreach (var category in Model.Where(x => !x.IsDeleted))
                    {
                        <tr>
                            <td class="text-center">@category.ID</td>
                            <td class="text-left">
                                @category.Name
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" class="myTooltip text-decoration-none bg-secondary pr-1 pl-1 rounded-circle text-white">
                                    ?
                                    <span>@(category.Description)</span>
                                </a>
                            </td>
                            <td class="text-left">@(Html.Raw($"{category.AddingUser.Name} {category.AddingUser.Surname}<br/> (ID: {category.AddingUserID})"))</td>
                            <td class="text-center">@category.InsertDate.ToShortDateString()</td>
                            <td class="text-center">@category.UpdateDate.ToShortDateString()</td>
                            <td class="text-center">
                                <span class="@(category.IsDeleted?"fa fa-check" : "fa fa-times")"></span>
                                <span>
                                    @(category.IsDeleted?Html.Raw("<br/>" + ((DateTime)(category.DeleteDate)).ToShortDateString()) : Html.Raw(""))
                                </span>
                            </td>
                        </tr>
                    }

                    foreach (var category in Model.Where(x => x.IsDeleted))
                    {
                        <tr>
                            <td class="text-center">@category.ID</td>
                            <td class="text-left">
                                @category.Name
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" class="myTooltip text-decoration-none bg-secondary pr-1 pl-1 rounded-circle text-white">
                                    ?
                                    <span>@(category.Description)</span>
                                </a>
                            </td>
                            <td class="text-left">@(Html.Raw($"{category.AddingUser.Name} {category.AddingUser.Surname}<br/> (ID: {category.AddingUserID})"))</td>
                            <td class="text-center">@category.InsertDate.ToShortDateString()</td>
                            <td class="text-center">@category.UpdateDate.ToShortDateString()</td>
                            <td class="text-center">
                                <span class="@(category.IsDeleted?"fa fa-check" : "fa fa-times")"></span>
                                <span>
                                    @(category.IsDeleted?Html.Raw("<br/>" + ((DateTime)(category.DeleteDate)).ToShortDateString()) : Html.Raw(""))
                                </span>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>
