﻿
@model List<ProductCategory>

@{
    ViewBag.Title = "Yönetim/Ürün Kategori/Düzenle";
    Layout = "~/Views/Shared/AdminMainLayout.cshtml";
}

@section Style{
    <style>
        a.myTooltip {
            text-decoration: none;
        }

            a.myTooltip:hover {
                position: relative;
            }

            a.myTooltip span {
                color: dimgray;
                display: none;
            }

            a.myTooltip:hover span {
                border: #666 2px solid;
                padding: 5px 20px 5px 5px;
                display: block;
                z-index: 100;
                background-color: lightyellow;
                left: 0px;
                margin: 15px;
                width: 300px;
                position: absolute;
                top: 15px;
                text-decoration: none;
                color: dimgray;
                box-shadow: 2.5px 5px #888888;
            }
    </style>
}

<div class="container">
    <div class="row">
        <h5 class="h5 col-12 mt-4 mb-4">"Admin" ve "Stok Personeli" tarafından ürün kategorisi düzenlemek için kullanılacaktır.</h5>
        <div class="col-12 mb-3">
            <h6 id="ErrorHead" class="h6 text-danger"></h6>
            <ul id="ErrorPresenter" class="list-group" style="list-style-type:none">
            </ul>
        </div>
        <div class="col-12">
            <table class="table table-bordered">
                <tr class="bg-secondary text-white text-center">
                    <th>ID</th>
                    <th>Kategori Adı</th>
                    <th>Ekleyen Kullanıcı</th>
                    <th>Eklenme Tarihi</th>
                    <th colspan="2">İşlem</th>
                </tr>
                @{
                    var categories = Model.Where(x => !x.IsDeleted).ToList();
                    if (categories.Count > 0)
                    {
                        foreach (var category in categories)
                        {
                            <tr id="InfoRow@(category.ID)" class="bg-white">
                                <td>@category.ID</td>
                                <td id="InfoRowName@(category.ID)">
                                    @category.Name
                                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" class="myTooltip text-decoration-none bg-secondary pr-1 pl-1 rounded-circle text-white">
                                        ?
                                        <span>@(category.Description)</span>
                                    </a>
                                </td>
                                <td>@category.AddingUser.Name @category.AddingUser.Surname (ID: @category.AddingUser.ID)</td>
                                <td class="text-center">@category.InsertDate.ToShortDateString()</td>
                                <td class="text-center">
                                    <div class="row text-center">
                                        <!-- Update Button Function-->
                                        <div class="col-6 text-center">
                                            <button class="btn btn-warning text-white border-dark float-right" type="button" data-toggle="modal" data-target="#updateModal@(category.ID)">
                                                <span class="fa fa-pencil"></span>
                                            </button>
                                            <!-- Update Modal -->
                                            <div class="modal fade" id="updateModal@(category.ID)" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel@(category.ID)" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title text-center w-100" id="updateModalLabel@(category.ID)">Güncelle</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            @{Html.BeginForm(new { @class = "form-group" }); }                                                 <div class="row m-0 p-0">
                                                                <div class="col-12 mt-2">
                                                                    <label>Kategori Adı</label>
                                                                    <input class="form-control" required="required" max="100" min="2" type="text" id="updateName@(category.ID)" value="@(category.Name)" />
                                                                </div>
                                                                <div class="col-12">
                                                                    <label>Açıklama</label>
                                                                    <textarea class="form-control" max="500" id="updateDescription@(category.ID)" cols="3">@category.Description</textarea>
                                                                </div>
                                                            </div>
                                                            @{Html.EndForm();}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                                            <button type="button" class="btn btn-primary" onclick="UpdateCategory(@(category.ID))" data-dismiss="modal">Onayla</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Delete Button Function-->
                                        <div class="col-6 text-center">
                                            <button class="btn btn-danger text-white border-dark float-left"
                                                    type="button" data-toggle="modal" data-target="#deleteModal@(category.ID)">
                                                <span class="fa fa-trash"></span>
                                            </button>
                                            <!-- Delete Modal -->
                                            <div class="modal fade" id="deleteModal@(category.ID)" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel@(category.ID)" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title text-center w-100" id="deleteModalLabel@(category.ID)">Sil</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            @category.Name adlı ürün kategorisini silmek istediğinize emin misiniz?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                                            <button type="button" class="btn btn-primary" onclick="DeleteCategory(@(category.ID))" data-dismiss="modal">Onayla</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                }
            </table>
        </div>
    </div>
</div>

@section Script{
    <script>
        // pop-up
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        // update
        function UpdateCategory(categoryID) {
            var name = $("#updateName" + categoryID).val();
            var description = $("#updateDescription" + categoryID).val();
            $("#ErrorHead").html("");
            $("#ErrorPresenter").html("");
            $.ajax({
                url: "@Url.Action("AdminCategoryUpdateAjax","Admincategory")",
                data: "ID=" + categoryID + "&Name=" + name + "&Description=" + description,
                type: "POST",
                dataType: "json",
                success: function (response) {
                    if (response) {
                        $("#InfoRowName" + categoryID).text(name);
                        $("#InfoRowName" + categoryID).append('&nbsp;<a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" class="myTooltip text-decoration-none bg-secondary pr-1 pl-1 rounded-circle text-white">?<span>' + description+ '</span ></a>');
                    }
                    else {
                        console.log(description.length);
                        $("#ErrorHead").append('Güncelleme hatası;');
                        if (name.length < 2 || name.length > 100) {
                            $("#ErrorPresenter").append('<li class="list-group-item-danger">Kategori adı en az 2 en fazla 100 karakter içerebilir.</li>');
                        }
                        if (description.length > 500) {
                            $("#ErrorPresenter").append('<li class="list-group-item-danger">Kategori açıklaması en fazla 500 karakter içerebilir.</li>');
                        }
                    }
                }
            });
        }

        // delete
        function DeleteCategory(categoryID) {
            $.ajax({
                url: "@Url.Action("AdminCategoryDeleteAjax","AdminCategory")",
                data: "ID=" + categoryID,
                dataType: "json",
                type: "POST",
                success: function (response) {
                    if (response) {
                        $("#InfoRow" + categoryID).remove();
                    }
                },
            });
        }

    </script>
}

