﻿
@model AddProductCategoryDto

@{
    ViewBag.Title = "Yönetim/Ürün Kategori/Ekle";
    Layout = "~/Views/Shared/AdminMainLayout.cshtml";
}

<h5 class="h5 text-center">"Admin" ve "Stok Personeli" tarafından ürün kategorisi eklemek için kullanılacaktır.</h5>
<div class="container">
    @{Html.BeginForm("AdminCategoryAddPage", "AdminCategory", FormMethod.Post, new { @class = "form-group mt-4" }); }
    @Html.AntiForgeryToken()
    <div class="row m-0 p-0">
        <div class="col-12 mt-2">
            @Html.ValidationSummary("", new { @class = "text-danger" })
        </div>
        <div class="col-12 mt-2">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", required = "required", minlength = "2", maxlength = "100", type = "text" })
        </div>
        <div class="col-12 mt-2">
            @Html.LabelFor(x => x.Description)
            @Html.TextAreaFor(x => x.Description, new { @class = "form-control", maxlength = "500", type = "text", cols="3" })
        </div>
        <div class="col-12 mt-4 mb-3 text-center">
            <input class="btn btn-success w-25" value="Kaydet" type="submit" style="min-width:200px" />
        </div>
    </div>
    @{Html.EndForm();}



</div>

