﻿
@model ArrangeProductMV

@{
    ViewBag.Title = "Yönetim/Ürün/Düzenle";
    Layout = "~/Views/Shared/AdminMainLayout.cshtml";
}

@section Style{
    <style>
        a.myTooltip {
            text-decoration: none;
        }

            a.myTooltip:hover {
                position: relative;
            }

            a.myTooltip span {
                color: dimgray;
                display: none;
            }

            a.myTooltip:hover span {
                border: #666 2px solid;
                padding: 5px 20px 5px 5px;
                display: block;
                z-index: 100;
                background-color: lightyellow;
                left: 0px;
                margin: 15px;
                width: 300px;
                position: absolute;
                top: 15px;
                text-decoration: none;
                color: dimgray;
                box-shadow: 2.5px 5px #888888;
            }
    </style>
}

<div class="container">
    <div class="row">
        <h5 class="h5 col-12 mt-4 mb-4">"Admin" ve "Stok Personeli" tarafından ürün düzenlemek için kullanılacaktır.</h5>
        <div class="col-12 mb-3">
            <h6 id="ErrorHead" class="h6 text-danger">

            </h6>
            <ul id="ErrorList" class="list-group">

            </ul>
        </div>
        <div class="col-12">
            <table class="table table-bordered">
                <tr class="bg-secondary text-white text-center">
                    <th>ID</th>
                    <th>Adı<br />(Açıklama)</th>
                    <th>Stok</th>
                    <th>Standart<br />Stok</th>
                    <th>Maks.<br />Sipariş</th>
                    <th>Fiyat<br />Sabiti</th>
                    <th>Fiyat</th>
                    <th>İndirim</th>
                    <th>Kategorileri</th>
                    <th colspan="2">İşlem</th>
                </tr>
                @{
                    var products = Model.Products.Where(x => !x.IsDeleted).ToList();
                    if (products.Count > 0)
                    {
                        foreach (var product in products)
                        {
                            <tr id="InfoRow@(product.ID)" class="bg-white">                              
                                <td>@product.ID</td>
                                <td>
                                    <span id="InfoRowName@(product.ID)">@product.Name</span>                                   
                                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" class="myTooltip text-decoration-none bg-secondary pr-1 pl-1 rounded-circle text-white">
                                        ?
                                        <span><u>Ekleyen :</u><br /><i>@(product.AddingUser.Name) @(product.AddingUser.Surname) (ID:@(product.AddingUser.ID))</i><br /><u>Eklenme Tarihi :</u><br /><i>@(product.InsertDate.ToShortDateString())</i> <br /><u>Açıklama :</u><br /><i id="InfoRowDescription@(product.ID)">@(product.Description)</i></span>
                                    </a>
                                </td>

                                <td><span id="InfoRowSA@(product.ID)">@(product.StockAmount)</span> <span class="measureType@(product.ID)">@(product.MeasureType.ToString())</span></td>

                                <td><span id="InfoRowSSA@(product.ID)">@(product.StandartStockAmount)</span> <span class="measureType@(product.ID)">@(product.MeasureType.ToString())</span></td>

                                <td><span id="InfoRowMOA@(product.ID)">@(product.MaxOrderAmount)</span> <span class="measureType@(product.ID)">@(product.MeasureType.ToString())</span></td>

                                <td><span id="InfoRowPD@(product.ID)">@(product.PriceDetermine)</span> <span class="measureType@(product.ID)">@(product.MeasureType.ToString())</span></td>

                                <td>₺ <span id="InfoRowP@(product.ID)">@(product.Price)</span></td>

                                <td>% <span id="InfoRowD@(product.ID)">@(product.Discount)</span></td>

                                <td>
                                    <ul id="InfoRowCategories@(product.ID)" class="mr-0 ml-0 pl-2 pr-1" style="list-style-type:circle">
                                        @{
                                            foreach (var category in product.ProductAndCategories.Where(x=> x.IsActive && !x.IsDeleted).Select(x => x.ProductCategory))
                                            {
                                                <li class="mr-0 ml-0 pl-0 pr-1 mb-2">
                                                    @(category.Name)
                                                </li>
                                            }
                                        }
                                    </ul>
                                </td>
                                <td class="text-center">
                                    <div class="row text-center">
                                        <!-- Update Button Function-->
                                        <div class="col-6 text-center">
                                            <button class="btn btn-warning text-white border-dark float-right" type="button" data-toggle="modal" data-target="#updateModal@(product.ID)">
                                                <span class="fa fa-pencil"></span>
                                            </button>
                                            <!-- Update Modal -->
                                            <div class="modal fade" id="updateModal@(product.ID)" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel@(product.ID)" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title text-center w-100" id="updateModalLabel@(product.ID)">Güncelle</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            @{Html.BeginForm(new { @class = "form-group" }); }
                                                            @Html.AntiForgeryToken()
                                                            <div class="row m-0 p-0 text-left">
                                                                <div class="col-12 mt-2">
                                                                    @Html.LabelFor(x => x.UpdateProductDto.Name)
                                                                    @Html.TextBoxFor(x => x.UpdateProductDto.Name, new { id = $"Name{product.ID}", @class = "form-control", required = "required", minlength = "2", maxlength = "200", type = "text", @Value = product.Name })
                                                                </div>
                                                                <div class="col-12 mt-2">
                                                                    @Html.LabelFor(x => x.UpdateProductDto.Description)                                                 <textarea id = "Description@(product.ID)" class = "form-control" maxlength = "500" cols = "3">@product.Description</textarea>
                                                                </div>
                                                                <div class="col-12 mt-2">
                                                                    @Html.LabelFor(x => x.UpdateProductDto.MeasureType)
                                                                    @Html.DropDownListFor(x => x.UpdateProductDto.MeasureType, new SelectList(Enum.GetValues(typeof(MeasureType)),product.MeasureType), new { id = $"MeasureType{product.ID}", @class = "form-control", required = "required", @Value = product.MeasureType.ToString() })
                                                                </div>
                                                                <div class="col-12 mt-2">
                                                                    @Html.LabelFor(x => x.UpdateProductDto.StockAmountAsString)
                                                                    @Html.TextBoxFor(x => x.UpdateProductDto.StockAmountAsString, new { id = $"StockAmountAsString{product.ID}", @class = "form-control", required = "required", type = "number", step = "0.0001", min = "0.0", @Value = product.StockAmount })
                                                                </div>
                                                                <div class="col-12 mt-2">
                                                                    @Html.LabelFor(x => x.UpdateProductDto.StandartStockAmountAsString)
                                                                    @Html.TextBoxFor(x => x.UpdateProductDto.StandartStockAmountAsString, new { id = $"StandartStockAmountAsString{product.ID}", @class = "form-control", required = "required", type = "number", step = "0.0001", min = "0.0", @Value = product.StandartStockAmount })
                                                                </div>
                                                                <div class="col-12 mt-2">
                                                                    @Html.LabelFor(x => x.UpdateProductDto.MaxOrderAmountAsString)
                                                                    @Html.TextBoxFor(x => x.UpdateProductDto.MaxOrderAmountAsString, new { id = $"MaxOrderAmountAsString{product.ID}", @class = "form-control", required = "required", type = "number", step = "0.0001", min = "0.0", @Value = product.MaxOrderAmount })
                                                                </div>
                                                                <div class="col-12 mt-2">
                                                                    @Html.LabelFor(x => x.UpdateProductDto.PriceAsString)
                                                                    @Html.TextBoxFor(x => x.UpdateProductDto.PriceAsString, new { id = $"PriceAsString{product.ID}", @class = "form-control", required = "required", type = "number", step = "0.01", min = "0.0", @Value = product.Price })
                                                                </div>
                                                                <div class="col-12 mt-2">
                                                                    @Html.LabelFor(x => x.UpdateProductDto.PriceDetermineAsString)
                                                                    @Html.TextBoxFor(x => x.UpdateProductDto.PriceDetermineAsString, new { id = $"PriceDetermineAsString{product.ID}", @class = "form-control", required = "required", type = "number", step = "0.0001", min = "0.0", @Value = product.PriceDetermine })
                                                                </div>
                                                                <div class="col-12 mt-2">
                                                                    @Html.LabelFor(x => x.UpdateProductDto.DiscountAsString)
                                                                    @Html.TextBoxFor(x => x.UpdateProductDto.DiscountAsString, new { id = $"DiscountAsString{product.ID}", @class = "form-control", required = "required", type = "number", step = "0.01", min = "0.0", @Value = product.Discount })
                                                                </div>
                                                                <div class="col-12 mt-2">
                                                                    @Html.LabelFor(x => x.UpdateProductDto.CategoryIDs)
                                                                    <div class="container">
                                                                        <ul id="CheckBoxes@(product.ID)">
                                                                            @foreach (ProductCategory category in Model.ProductCategories)
                                                                            {
                                                                                <li>
                                                                                    <div class="col-12">
                                                                                        <label class="w-100">@(category.Name)</label>
                                                                                        <input value="@(category.ID)" type="checkbox" class="form-check-input" @(product.ProductAndCategories.Where(x=> x.IsActive && !x.IsDeleted).Select(x => x.ProductCategoryID).Contains(category.ID)? "checked=checked":"") />
                                                                                    </div>
                                                                                </li>
                                                                            }
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            @{Html.EndForm();}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                                            <button type="button" class="btn btn-primary" onclick="UpdateProduct(@(product.ID))" data-dismiss="modal">Onayla</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Delete Button Function-->
                                        <div class="col-6 text-center">
                                            <button class="btn btn-danger text-white border-dark float-left"
                                                    type="button" data-toggle="modal" data-target="#deleteModal@(product.ID)">
                                                <span class="fa fa-trash"></span>
                                            </button>
                                            <!-- Delete Modal -->
                                            <div class="modal fade" id="deleteModal@(product.ID)" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel@(product.ID)" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title text-center w-100" id="deleteModalLabel@(product.ID)">Sil</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            @product.Name adlı ürünü silmek istediğinize emin misiniz?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                                            <button type="button" class="btn btn-primary" onclick="DeleteProduct(@(product.ID))" data-dismiss="modal">Onayla</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                }
            </table>
        </div>
    </div>
</div>

@section Script {
    <script>

        // update
        function UpdateProduct(productID)
        {
            var name = $("#Name" + productID).val();
            var description = $("#Description" + productID).val();
            var measureType = $("#MeasureType" + productID).val();
            var stockAmoutAsString = $("#StockAmountAsString" + productID).val();
            var standartStockAmoutAsString = $("#StandartStockAmountAsString" + productID).val();
            var maxOrderAmountAsString = $("#MaxOrderAmountAsString" + productID).val();
            var priceAsString = $("#PriceAsString" + productID).val();
            var priceDetermineAsString = $("#PriceDetermineAsString" + productID).val();
            var discountAsString = $("#DiscountAsString" + productID).val();
            var categoryIDsAsString = $("#CheckBoxes" + productID + " input:checkbox:checked").map(function () {
                return $(this).val();
            }).get();

            $("#ErrorHead").html("");
            $("#ErrorList").html("");
            var errors = "";

            if (name.length < 2 || name.length > 200) {
                errors = errors + '<li class="list-group-item-danger">Ürün ismi 2 karakterden az, 200 karakterden fazla olamaz</li>';
            }
            if (description.length > 500) {
                errors = errors + '<li class="list-group-item-danger">Ürün açıklaması 500 karakterden fazla olamaz</li>';
            }

            if (errors != "") {
                $("#ErrorHead").html("Hatalı giriş;")
                $("#ErrorList").append(errors);
            }
            else
            {
                $.ajax({
                url: "@Url.Action("AdminProductUpdateAjax","AdminProduct")",
                data: "ID=" + productID + "&Name=" + name + "&Description=" + description + "&MeasureType=" + measureType + "&StockAmountAsString=" + stockAmoutAsString + "&StandartStockAmountAsString=" + standartStockAmoutAsString + "&MaxOrderAmountAsString=" + maxOrderAmountAsString + "&PriceAsString=" + priceAsString + "&PriceDetermineAsString=" + priceDetermineAsString + "&DiscountAsString=" + discountAsString + "&CategoryIDsAsString=" + categoryIDsAsString,
                dataType: "json",
                type: "POST",
                success: function (response) {
                    if (response.result)
                    {
                        $("#InfoRowName" + productID).text(name);
                        $("#InfoRowDescription" + productID).text(description);
                        $(".measureType" + productID).text(measureType);
                        $("#InfoRowSA" + productID).text(stockAmoutAsString);
                        $("#InfoRowSSA" + productID).text(standartStockAmoutAsString);
                        $("#InfoRowMOA" + productID).text(maxOrderAmountAsString);
                        $("#InfoRowPD" + productID).text(priceDetermineAsString);
                        $("#InfoRowP" + productID).text(priceAsString);
                        $("#InfoRowD" + productID).text(discountAsString);
                        $("#InfoRowCategories" + productID).html("");
                        var categories = new Array();
                        categories = JSON.parse(response.categoriesNames);
                        console.log(categories);
                        for (var i = 0; i < categories.length; i++) {
                            $("#InfoRowCategories" + productID).append('<li class="mr-0 ml-0 pl-0 pr-1 mb-2">' + categories[i] + '</li>');
                        }
                    }
                    else
                    {
                        $("#ErrorHead").html("Güncelleme hatası;")
                        $("#ErrorList").html(response.explain);
                    }
                }
            });
            }
        }


        // delete
        function DeleteProduct(productID)
        {
            $.ajax({
            url: "@Url.Action("AdminProductDeletaAjax", "AdminProduct")",
            data: "ID=" + productID,
            dataType: "json",
            type: "POST",
            success: function (response) {
            if (response)
            {
                $("#InfoRow" + productID).remove();
            }
            }
        });
    }

    </script>
}

