﻿
@model AddProductMV

@{
    ViewBag.Title = "Yönetim/Ürün/Ekle";
    Layout = "~/Views/Shared/AdminMainLayout.cshtml";
}

<h5 class="h5 text-center">"Admin" ve "Stok Personeli" tarafından ürün eklemek için kullanılacaktır.</h5>
<div class="container">
    @{Html.BeginForm("AdminProductAddPage", "AdminProduct", FormMethod.Post, new { @class = "form-group mt-4" }); }
    @Html.AntiForgeryToken()
    <div class="row m-0 p-0">
        <div class="col-12 mt-2">
            @{
                if (Model.AddProductDto != null)
                {
                    Html.ValidationSummary("", new { @class = "text-danger" });
                }
            }
        </div>
        <div class="col-12 mt-2">
            @Html.LabelFor(x => x.AddProductDto.Name)
            @Html.TextBoxFor(x => x.AddProductDto.Name, new { @class = "form-control", required = "required", minlength = "2", maxlength = "200", type = "text" })
        </div>
        <div class="col-12 mt-2">
            @Html.LabelFor(x => x.AddProductDto.Description)
            @Html.TextAreaFor(x => x.AddProductDto.Description, new { @class = "form-control", maxlength = "500", type = "text", cols = "3" })
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            @Html.LabelFor(x => x.AddProductDto.MeasureType)
            @Html.DropDownListFor(x => x.AddProductDto.MeasureType, new SelectList(Enum.GetValues(typeof(MeasureType))), new { @class = "form-control", required = "required" })
        </div>
        <div class="offset-xl-6 offset-lg-6 offset-md-6 offset-sm-12 mt-"></div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
            @Html.LabelFor(x => x.AddProductDto.StockAmountAsString)
            @Html.TextBoxFor(x => x.AddProductDto.StockAmountAsString, new { @class = "form-control", required = "required", type = "number", step = "0.0001", min = "0.0"})
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
            @Html.LabelFor(x => x.AddProductDto.StandartStockAmountAsString)
            @Html.TextBoxFor(x => x.AddProductDto.StandartStockAmountAsString, new { @class = "form-control", required = "required", type = "number", step = "0.0001", min = "0.0" })
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
            @Html.LabelFor(x => x.AddProductDto.MaxOrderAmountAsString)
            @Html.TextBoxFor(x => x.AddProductDto.MaxOrderAmountAsString, new { @class = "form-control", required = "required", type = "number", step = "0.0001", min = "0.0" })
        </div>
        <div class="offset-xl-6 offset-lg-6 offset-md-6 offset-sm-12 mt-"></div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
            @Html.LabelFor(x => x.AddProductDto.PriceAsString)
            @Html.TextBoxFor(x => x.AddProductDto.PriceAsString, new { @class = "form-control", required = "required", type = "number", step = "0.01", min = "0.0" })
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
            @Html.LabelFor(x => x.AddProductDto.PriceDetermineAsString)
            @Html.TextBoxFor(x => x.AddProductDto.PriceDetermineAsString, new { @class = "form-control", required = "required", type = "number", step = "0.0001", min = "0.0" })
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
            @Html.LabelFor(x => x.AddProductDto.DiscountAsString)
            @Html.TextBoxFor(x => x.AddProductDto.DiscountAsString, new { @class = "form-control", required = "required", type = "number", step = "0.01", min = "0.0" })
        </div>
        <div class="offset-xl-6 offset-lg-6 offset-md-6 offset-sm-12 mt-"></div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
            @Html.LabelFor(x => x.AddProductDto.CategoryIDs)
            <div class="container">
                <ul>
                    @foreach (ProductCategory category in Model.ProductCategories)
                    {
                        <li>
                            <div class="col-12">
                                <label class="w-100">@(category.Name)</label>
                                <input name="CategoryID" value="@(category.ID)" type="checkbox" class="form-check-input" />
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-12 mt-4 mb-3 text-center">
            <input class="btn btn-success w-25" value="Kaydet" type="submit" style="min-width:200px" />
        </div>
    </div>
    @{Html.EndForm();}
</div>

