﻿
@model ShowProductMV

@{
    ViewBag.Title = "Yönetim/Ürün";
    Layout = "~/Views/Shared/AdminMainLayout.cshtml";
}

@section Style{
    <style>
        a.myTooltip {
            text-decoration: none;
        }

            a.myTooltip:hover {
                position: relative;
            }

            a.myTooltip span {
                color: dimgray;
                display: none;
            }

            a.myTooltip:hover span {
                border: #666 2px solid;
                padding: 5px 20px 5px 5px;
                display: block;
                z-index: 100;
                background-color: lightyellow;
                left: 0px;
                margin: 15px;
                width: 300px;
                position: absolute;
                top: 15px;
                text-decoration: none;
                color: dimgray;
                box-shadow: 2.5px 5px #888888;
            }
    </style>
}

<div class="container" style="font-size:0.8em">
    <div class="row">
        <h5 class="h5 col-12 mt-4 mb-4">Mevcut ürünler aşağıda sunulmuştur;</h5>
        <div class="col-12">
            <table class="table table-bordered">
                <tr class="bg-dark text-white text-center">
                    <th colspan="3">KİMLİK</th>
                    <th colspan="6">BİLGİ</th>
                    <th colspan="2">TARİH</th>
                    <th colspan="1">DURUM</th>
                </tr>
                <tr class="bg-secondary text-white text-center">
                    <th>ID</th>
                    <th>İsim (Açıklama)</th>
                    <th>Kategorileri</th>
                    <th>Stok</th>
                    <th>Standart<br />Stok</th>
                    <th>Maks.Sipariş<br />Miktarı</th>
                    <th>Fiyat</th>
                    <th>Fiyat Sabiti</th>
                    <th>İndirim</th>
                    <th>Eklenme</th>
                    <th>Güncellenme</th>
                    <th>Silinme</th>
                </tr>
                @{
                    foreach (var product in Model.Products.Where(x => !x.IsDeleted))
                    {
                        <tr>
                            <td class="text-center">@product.ID</td>
                            <td class="text-left">
                                @product.Name
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" class="myTooltip text-decoration-none bg-secondary pr-1 pl-1 rounded-circle text-white">
                                    ?
                                    <span><u>Ekleyen :</u><br /><i>@(product.AddingUser.Name) @(product.AddingUser.Surname) (ID:@(product.AddingUser.ID))</i><br /><u>Açıklama :</u><br /><i>@(product.Description)</i></span>
                                </a>
                            </td>
                            <td class="text-left">
                                <ul class="m-0 p-0 pl-2" style="list-style-type:disc">
                                    @{
                                        foreach (string categoryName in Model.Categories.Where(x => x.IsActive && !x.IsDeleted && product.ProductAndCategories.Where(y => !y.IsDeleted && y.IsActive).Select(z => z.ProductCategoryID).Contains(x.ID)).Select(x => x.Name).ToList())
                                        {
                                            <li>@categoryName</li>
                                        }
                                    }
                                </ul>
                            </td>
                            <td class="text-center">@($"{product.StockAmount} {product.MeasureType}")</td>
                            <td class="text-center">@($"{product.StandartStockAmount} {product.MeasureType}")</td>
                            <td class="text-center">@($"{product.MaxOrderAmount} {product.MeasureType}")</td>
                            <td class="text-center">@($"₺ {product.Price}")</td>
                            <td class="text-center">@($"{product.PriceDetermine} {product.MeasureType}")</td>
                            <td class="text-center">@($"% {product.Discount}")</td>
                            <td class="text-center">@product.InsertDate.ToShortDateString()</td>
                            <td class="text-center">@product.UpdateDate.ToShortDateString()</td>
                            <td class="text-center">
                                <span class="@(product.IsDeleted?"fa fa-check" : "fa fa-times")"></span>
                                <span>
                                    @(product.IsDeleted?Html.Raw("<br/>" + ((DateTime)(product.DeleteDate)).ToShortDateString()) : Html.Raw(""))
                                </span>
                            </td>
                        </tr>
                    }

                    foreach (var product in Model.Products.Where(x => x.IsDeleted))
                    {
                        <tr>
                            <td class="text-center">@product.ID</td>
                            <td class="text-left">
                                @product.Name
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" class="myTooltip text-decoration-none bg-secondary pr-1 pl-1 rounded-circle text-white">
                                    ?
                                    <span><u>Ekleyen :</u><br /><i>@(product.AddingUser.Name) @(product.AddingUser.Surname) (ID:@(product.AddingUser.ID))</i><br /><u>Açıklama :</u><br /><i>@(product.Description)</i></span>
                                </a>
                            </td>
                            <td class="text-left">
                                <ul class="m-0 p-0 pl-2" style="list-style-type:disc">
                                    @{
                                        foreach (string categoryName in Model.Categories.Where(x => x.IsActive && !x.IsDeleted && product.ProductAndCategories.Where(y => !y.IsDeleted && y.IsActive).Select(z => z.ProductCategoryID).Contains(x.ID)).Select(x => x.Name).ToList())
                                        {
                                            <li>@categoryName</li>
                                        }
                                    }
                                </ul>
                            </td>
                            <td class="text-center">@($"{product.StockAmount} {product.MeasureType}")</td>
                            <td class="text-center">@($"{product.StandartStockAmount} {product.MeasureType}")</td>
                            <td class="text-center">@($"{product.MaxOrderAmount} {product.MeasureType}")</td>
                            <td class="text-center">@($"₺ {product.Price}")</td>
                            <td class="text-center">@($"{product.PriceDetermine} {product.MeasureType}")</td>
                            <td class="text-center">@($"% {product.Discount}")</td>
                            <td class="text-center">@product.InsertDate.ToShortDateString()</td>
                            <td class="text-center">@product.UpdateDate.ToShortDateString()</td>
                            <td class="text-center">
                                <span class="@(product.IsDeleted?"fa fa-check" : "fa fa-times")"></span>
                                <span>
                                    @(product.IsDeleted?Html.Raw("<br/>" + ((DateTime)(product.DeleteDate)).ToShortDateString()) : Html.Raw(""))
                                </span>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>

