﻿
@model AdminSummaryMV

@{
    ViewBag.Title = "Yönetim/Anasayfa";
    Layout = "~/Views/Shared/AdminMainLayout.cshtml";
}

<div class="container container-fluid">
    <div class="row">
        <div class="col-6 mt-3">
            <div class="card rounded-bottom w-100 h-100">
                <div class="card-body p-0 m-0">
                    <h4 class="bg-danger rounded-bottom w-100 m-0 text-white text-center p-2">Kullanıcı Özeti</h4>
                    <div class="p-2 mb-5">
                        <table class="table table-borderless">
                            <tr>
                                <th>Görev</th>
                                <th>Görevli Sayısı</th>
                            </tr>
                            <tr>
                                <td>Admin</td>
                                <td>@Model.UserSummaryDto.AdminCount</td>
                            </tr>
                            <tr>
                                <td>Satış</td>
                                <td>@Model.UserSummaryDto.SalesmanCount</td>
                            </tr>
                            <tr>
                                <td>Stok</td>
                                <td>@Model.UserSummaryDto.StockKeeperCount</td>
                            </tr>
                        </table>
                    </div>
                    <div class="w-100 text-right position-absolute" style="bottom:0;right:0">
                        <a href="#" class="btn btn-primary w-50 text-center m-2" style="font-size:0.75em">İşlem</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 mt-3">
            <div class="card rounded-bottom w-100 h-100">
                <div class="card-body p-0">
                    <h4 class="bg-danger rounded-bottom w-100 m-0 text-white text-center p-2">Ürün Özeti</h4>
                    <div class="p-2 mb-5">
                        <table class="table table-borderless mb-0">
                            <tr>
                                <th></th>
                                <th>Ürün Sayısı</th>
                            </tr>
                            <tr>
                                <th>Toplam</th>
                                <td>@Model.ProductSummaryDto.ProductCount</td>
                            </tr>
                            <tr>
                                <th>Stok Durumu(<%50)</th>
                                <td>@Model.ProductSummaryDto.Under_50_PercentCount</td>
                            </tr>
                            <tr>
                                <th>Stok Durumu(<%25)</th>
                                <td>@Model.ProductSummaryDto.Under_25_PercentCount</td>
                            </tr>
                            <tr>
                                <th>Stok Durumu(<%10)</th>
                                <td>@Model.ProductSummaryDto.Under_10_PercentCount</td>
                            </tr>
                            <tr>
                                <th>Stok Durumu(<%5)</th>
                                <td>@Model.ProductSummaryDto.Under_5_PercentCount</td>
                            </tr>
                        </table>
                        <h5 class="text-center">*Ürünsel bazda hesaplanmıştır.</h5>
                    </div>
                    <div class="w-100 text-right position-absolute" style="bottom:0;right:0">
                        <a href="#" class="btn btn-primary w-50 text-center m-2" style="font-size:0.75em">İşlem</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="card rounded-bottom w-100 h-100">
                <div class="card-body p-0">
                    <h4 class="bg-danger rounded-bottom w-100 m-0 text-white text-center p-2">Kategori Özeti</h4>
                    <div class="p-2 mb-5">
                        <table class="table table-borderless mb-0">
                            <tr>
                                <th>Kategori Adı</th>
                                <th>Ait Ürün Sayısı</th>
                            </tr>
                            @{
                                foreach (var categorySubSummary in Model.CategorySummaryDto.CategorySubSummaryDtos)
                                {
                                    <tr>
                                        <td>@categorySubSummary.CategoryName</td>
                                        <td>@categorySubSummary.RelatedProductCount</td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                    <div class="w-100 text-right position-absolute" style="bottom:0;right:0">
                        <a href="#" class="btn btn-primary w-25 text-center m-2" style="font-size:0.75em">İşlem</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 mt-3">
            <div class="card rounded-bottom w-100 h-100">
                <div class="card-body p-0">
                    <h4 class="bg-danger rounded-bottom w-100 m-0 text-white text-center p-2">Müşteri Özeti</h4>
                    <div class="p-2 mb-5">
                        <table class="table table-borderless mb-0">
                            <tr>
                                <th>Onaylanmış</th>
                                <td>0</td>
                            </tr>
                            <tr>
                                <th>Bekleyen</th>
                                <td>0</td>
                            </tr>
                        </table>
                    </div>
                    <div class="w-100 text-right position-absolute" style="bottom:0;right:0">
                        <a href="#" class="btn btn-primary w-50 text-center m-2" style="font-size:0.75em">İşlem</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 mt-3">
            <div class="card rounded-bottom w-100 h-100">
                <div class="card-body p-0">
                    <h4 class="bg-danger rounded-bottom w-100 m-0 text-white text-center p-2">Sipariş Özeti</h4>
                    <div class="p-2 mb-5">
                        <table class="table table-borderless mb-0">
                            <tr>
                                <th>Durum</th>
                                <th>Sayı</th>
                            </tr>
                            <tr>
                                <td>Onaylanmış</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>İptal Edilmiş</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Bekleyen</td>
                                <td>0</td>
                            </tr>
                        </table>
                    </div>
                    <div class="w-100 text-right position-absolute" style="bottom:0;right:0">
                        <a href="#" class="btn btn-primary w-50 text-center m-2" style="font-size:0.75em">İşlem</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>