﻿
@model List<User>

@{
    ViewBag.Title = "Yönetim/Kullanıcılar";
    Layout = "~/Views/Shared/AdminMainLayout.cshtml";
}

<div class="container" style="font-size:0.9em">
    <div class="row">
        <h5 class="h5 col-12 mt-4 mb-4">Şirket bünyesinde "Yönetim Paneli Yetkili Personel" bilgileri aşağıda sunulmuştur;</h5>
        <div class="col-12">
            <table class="table table-bordered">
                <tr class="bg-dark text-white text-center">
                    <th colspan="3">KİMLİK</th>
                    <th colspan="3">YETKİ</th>
                    <th colspan="4">BİLGİ</th>
                </tr>
                <tr class="bg-secondary text-white text-center">
                    <th>ID</th>
                    <th>İsim Soyisim</th>
                    <th>E-posta</th>
                    <th>Admin</th>
                    <th>Satış</th>
                    <th>Stok</th>
                    <th>Eklenme</th>
                    <th>Güncellenme</th>
                    <th>Aktiflik</th>
                    <th>Silinme</th>
                </tr>
                @{
                    foreach (var user in Model)
                    {
                        <tr>
                            <td class="text-center">@user.ID</td>
                            <td class="text-left">@($"{user.Name} {user.Surname}")</td>
                            <td class="text-left">@user.Email</td>
                            <td class="text-center"><span class="@(user.IsAdmin?"fa fa-check" : "fa fa-times")"></span></td>
                            <td class="text-center"><span class="@(user.IsSalesman?"fa fa-check" : "fa fa-times")"></span></td>
                            <td class="text-center"><span class="@(user.IsStockKeeper?"fa fa-check" : "fa fa-times")"></span></td>
                            <td class="text-center">@user.InsertDate.ToShortDateString()</td>
                            <td class="text-center">@user.UpdateDate.ToShortDateString()</td>
                            <td class="text-center"><span class="@(user.IsActive?"fa fa-check" : "fa fa-times")"></span></td>
                            <td class="text-center">
                                <span class="@(user.IsDeleted?"fa fa-check" : "fa fa-times")"></span>
                                <span>
                                    @(user.IsDeleted?Html.Raw("<br/>" + ((DateTime)(user.DeleteDate)).ToShortDateString()) : Html.Raw(""))
                                </span>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>