﻿
@model string

<div class="w3-sidebar w3-bar-block w3-card w3-animate-left bg-dark m-0 p-0" style="display:none" id="mySidebar">
    <div class="row modal-open p-0 mb-2">
        <div class="col-12">
            <button class="btn btn-dark w3-large float-right" onclick="w3_close()">
                <span style="font-size:1.6em">&times;</span>
            </button>
        </div>       
    </div>   
    <div class="row text-left ml-3 mr-3" style="border:2px groove #ffc107; border-right:1px none #343a40; border-left:0">
        <ul class="text-white w-100 p-3 mt-1 mb-1" style="list-style-type:none">
            <li class="text-center"><img class="img-thumbnail rounded-circle" src="@(UserSession.CurrentUser.PhotoPath)" height="80" width="80"/></li>
            <li><span style="color:#ffc107">Kullanıcı :</span>  @UserSession.CurrentUser.Name @UserSession.CurrentUser.Surname</li>
            <li><span style="color:#ffc107">Kullanıcı ID:</span> @UserSession.CurrentUser.ID</li>
            <li class="mt-1"><span style="color:#ffc107">Yetkiler :</span> 
                <ul class="text-white" style="list-style-type:square">
                    @(UserSession.CurrentUser.IsAdmin? Html.Raw("<li>Admin</li>") : Html.Raw(""))
                    @(UserSession.CurrentUser.IsSalesman? Html.Raw("<li>Satış Personeli</li>") : Html.Raw(""))
                    @(UserSession.CurrentUser.IsStockKeeper? Html.Raw("<li>Stok Personeli</li>") : Html.Raw(""))
                </ul>
            </li>
        </ul>
    </div>
    <a href="@Url.Action("AdminHomePage","AdminHome")" class="w3-bar-item w3-button text-decoration-none text_Sidebar mt-3 @(Model.Contains("Anasayfa")?"text-warning":"")"><span class="fa fa-home"></span> Anasayfa</a>
    <div class="btn-group dropdown w-100">
        <a href="@Url.Action("AdminUserPage","AdminUser")" class="w3-bar-item w3-button text-decoration-none text_Sidebar @(Model.Contains("Kullanıcılar")?"text-warning":"")"><span class="fa fa-user"></span> Kullanıcılar</a>
        <button type="button" class="btn rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-chevron-down text-white"></span>
        </button>
        <div class="dropdown-menu bg-dark" style="color:black">
            <a class="dropdown-item w-100 text_SidebarSub" href="@Url.Action("AdminUserAddPage","AdminUser")">Ekle</a>
            <a class="dropdown-item w-100 text_SidebarSub" href="@Url.Action("AdminUserArrangePage","AdminUser")">Düzenle</a>
        </div>
    </div>

    <div class="btn-group dropdown w-100">
        <a href="@Url.Action("AdminCategoryPage","AdminCategory")" class="w3-bar-item w3-button text-decoration-none text_Sidebar @(Model.Contains("Kategori")?"text-warning":"")"><span class="fa fa-file"></span> Ürün Kategori</a>
        <button type="button" class="btn rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-chevron-down text-white"></span>
        </button>
        <div class="dropdown-menu bg-dark" style="color:black">
            <a class="dropdown-item w-100 text_SidebarSub" href="@Url.Action("AdminCategoryAddPage","AdminCategory")">Ekle</a>
            <a class="dropdown-item w-100 text_SidebarSub" href="@Url.Action("AdminCategoryArrangePage","AdminCategory")">Düzenle</a>
        </div>
    </div>

    <div class="btn-group dropdown w-100">
        <a href="@Url.Action("AdminProductHomePage","AdminProduct")" class="w3-bar-item w3-button text-decoration-none text_Sidebar @(Model.Contains("Ürün")&&!Model.Contains("Kategori")?"text-warning":"")"><span class="fa fa-automobile"></span> Ürün</a>
        <button type="button" class="btn rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-chevron-down text-white"></span>
        </button>
        <div class="dropdown-menu bg-dark" style="color:black">
            <a class="dropdown-item w-100 text_SidebarSub" href="@Url.Action("AdminProductAddPage","AdminProduct")">Ekle</a>
            <a class="dropdown-item w-100 text_SidebarSub" href="@Url.Action("AdminProductArrangePage","AdminProduct")">Düzenle</a>
        </div>
    </div>
</div>






