﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Html.Partial("ExtensionPartial")
</head>
<body>
    @{Html.RenderAction("RenderNavbar", "Common");}
    @RenderBody()
</body>
</html>
