﻿
@model User

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            @{
                if (Model == null)
                {
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary nav-item" data-toggle="modal" data-target="#loginModal">
                            Login
                        </button>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <span class="nav-link" style="cursor:default">@Model.Username</span>
                    </li>
                    if (Model.IsAdmin || Model.IsSalesman || Model.IsStockKeeper)
                    {
                        <li class="nav-item">
                            <span class="nav-link" style="cursor:default"> |</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("AdminHomePage","AdminHome")">Yönetim</a>
                        </li>
                    }
                    <li class="nav-item">
                        <span class="nav-link" style="cursor:default"> |</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("SignOutPost","Account")">Sign Out</a>
                    </li>
                }
            }

        </ul>
    </div>
</nav>
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center w-100">
                <h5 class="modal-title text-center w-100" id="loginModalLabel">Login</h5>
            </div>
            <div class="modal-body">
                @{Html.BeginForm("LoginPost", "Account", FormMethod.Post, new { @class = "form-group" });}
                @Html.AntiForgeryToken()
                <input name="Email" class="form-control w-100" type="email" required="required" placeholder="E-posta" minlength="8" maxlength="100"/>
                <input name="Password" class="form-control w-100" type="password" required="required" placeholder="Şifre" minlength="8" maxlength="20"/>
                <div class="w-100 text-center">
                    <input class="btn btn-primary w-50" type="submit" />
                </div>
                <div class="text-justify text-danger">
                    @{
                        if (TempData["LoginResult"] != null)
                        {
                            @Html.Raw(TempData["LoginResult"])
                        }
                    }
                </div>
                @{Html.EndForm();}
            </div>
        </div>
    </div>
</div>
